FacilityDocu.UI.WPF/Service References/ServiceReference2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51256/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51256/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51256/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tablet_ApplicationService" />
      <xsd:import schemaLocation="http://localhost:51256/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:51256/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FacilityDocu.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertImageDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertImageDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertImageDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertImageDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertRig_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRig" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertRig_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRigResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertProject_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProject" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertModule_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertModule" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertModule_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertModuleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertAction_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAction" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertActionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertStepAction_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertStepAction" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertStepAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertStepActionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertStep_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertStep" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertStep_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertStepResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsSync_InputMessage">
    <wsdl:part name="parameters" element="tns:IsSync" />
  </wsdl:message>
  <wsdl:message name="IService1_IsSync_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsSyncResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProjectDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProjectDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateProject_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProject" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProjectResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertImageDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertImageDetails" message="tns:IService1_InsertImageDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertImageDetailsResponse" message="tns:IService1_InsertImageDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRig">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertRig" message="tns:IService1_InsertRig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertRigResponse" message="tns:IService1_InsertRig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertProject" message="tns:IService1_InsertProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertProjectResponse" message="tns:IService1_InsertProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertModule">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertModule" message="tns:IService1_InsertModule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertModuleResponse" message="tns:IService1_InsertModule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertAction" message="tns:IService1_InsertAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertActionResponse" message="tns:IService1_InsertAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertStepAction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertStepAction" message="tns:IService1_InsertStepAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertStepActionResponse" message="tns:IService1_InsertStepAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertStep">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertStep" message="tns:IService1_InsertStep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertStepResponse" message="tns:IService1_InsertStep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsSync">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsSync" message="tns:IService1_IsSync_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsSyncResponse" message="tns:IService1_IsSync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProjectDetails" message="tns:IService1_GetProjectDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProjectDetailsResponse" message="tns:IService1_GetProjectDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateProject" message="tns:IService1_UpdateProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateProjectResponse" message="tns:IService1_UpdateProject_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertImageDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertImageDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRig">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertRig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProject">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertModule">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertModule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAction">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStepAction">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertStepAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStep">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertStep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsSync">
      <soap:operation soapAction="http://tempuri.org/IService1/IsSync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProjectDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProject">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:51256/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>